* {
    box-sizing: border-box;
}

#title {
    padding: 30px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/banner.jpg)
}

#title > h1 {
    font-size: 80px;
    text-align: center;
}


.titulo{
    font-family: 'Goudy Bookletter 1911', serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgba(6, 151, 115, 0.527);
    border: 1PX groove rgba(0, 233, 175, 0.699);
  }

#card {
  padding: 5%;
}

#card > h2{
    font-size: 48px;
}

#box {
  display: flex;
  font-size: 1.5em;
}

img{
  height: 400px;
  width: 25%;
  margin-right: 20px;
}
body {
  background-image: url(./img/backgrowun.jpg);
  background-position: center center;
  background-repeat: no-repeat ;
  background-size: cover;
}
.byrick {
  text-align: center
}
footer{
  text-align: center;
}